html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: "Marvel";
}

@font-face{
  font-family: Marvel;
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf)
}

h1{
  text-align: center;
}

section{
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about{
  margin: 0;
}

.headwrap{
  margin: auto;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about{
  background-color: #000000;
}

#particles-js{
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: #000000;
  z-index: -1;
}

/* Vertically Sliding Text */
.animated-text{
  color: rgb(0, 0, 0);
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}

.line{
  font-family: "Marvel";
  color:#E04343;
  text-align: center;
  font-size: 1.5rem;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}
