html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: "Marvel";
}

@font-face{
  font-family: Marvel;
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf)
}

h1{
  text-align: center;
}

section{
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hide{
  visibility: hidden;
}

#nepalBg{
  background-image: url("../images/background-100.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.headwrap{
  margin: auto;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lucid{
  width: 17%;
  justify-content: left;
}

#about{
  background-color: #000000;
}

#particles-js{
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: #000000;
  z-index: -1;
}

/* Preloader Animation*/
.preloader-wrap{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgb(136, 136, 136);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #242424;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* Vertically Sliding Text */
.animated-text{
  color: rgb(0, 0, 0);
  padding: 0 40px;
  height: 60px;
  overflow: hidden;
}

.line{
  font-family: "Marvel";
  color:#E04343;
  text-align: center;
  font-size: x-large;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}
